[2018-05-25 09:15] sameo opened #5 "Initial CI"
We need to build a basic but automated CI for NEMU. Initial requirements:

* PR gating: Use pullapprove with 2 ACKs from the nemu-write team before a PR can be merged.
* Minimal CI: Use semaphoreci for automatically running our `minimal_ci.sh` script on each PR.

[2018-05-31 14:05] #5 closed

[2018-06-12 01:25] omgjlk opened #10 "PXE booting?"
I'm building out a decent sized set of private clouds, where every VM will PXE boot for a new image or a redirection to an existing image on disk. Are there plans to bring over the PXE booting support from QEMU?

[2018-06-13 15:56] sameo opened #11 "New virtual machine type for x86"
## Rationale
We want to define a minimal, legacy and emulation free, based on virtual hardware, x86_64 machine type for QEMU. Existing machine types (pc and q35) try to emulate an actual chipsets (piix and q35 respectively), pulling requirements for emulating various pieces of hardware and buses (PCI, ISA, MCH, LPC, etc).
This increases the hypervisor's attack surface together with its implementat

[2018-06-13 17:46] bonzini commented on #11
Some notes:

- the ARM virt machine type is not a "virtual hardware platform".  It has PL011 serial, PL031 RTC, PL061 GPIO controller, a generic PCIe bridge, fw_cfg for the firmware to get data from QEMU, and emulated
flash.  The idea behind the ARM virt machine type is simply to make everything discoverable via device tree; the "virtualness" of it is simply that the device tree is provided by QEM

[2018-06-29 09:04] sameo opened #13 "Implement direct kernel boot for i386/virt"
Since the i386 virt machine type presents a minimal hardware list, we should be able to do direct kernel boot without much complications.
This should be an opt-in choice, same as the `nofw` option from `pc-lite`.

[2018-06-29 10:09] sameo opened #14 "Port OVMF to i386/virt"
We want to be able to do direct kernel boot as well as OVMF based boot.
Although most of the changes should happen on the OVMF code base itself, the port will be directly influenced by the new machine type definition and implementation.

[2018-06-29 11:01] sameo opened #15 "Minimal Linux guest boot with i386/virt"
Implement a minimal virt/i386 machine type to boot a Linux guest kernel up to userspace.

Devices to be added to the machine type:

* CPUs
* Memory
* KVM clock
* KVM IRQ chip
* fw_cfg
* e820
* PIC?

[2018-06-29 11:27] sameo opened #16 "virtio support for i386/virt"
We want the i386 virt platform to support virtio devices.
As we want to keep the PCI dependency to a minimum, we should aim at exposing virtio devices to the guest through MMIO.

TBD: If we are to support minimal PCI emulation (host bridge+root port), can we go virtio pci instead?

[2018-06-29 11:33] sameo opened #17 "Device passthrough support for i386/virt"
We want to be able to do device passthrough with the i386/virt machine type.
For that we will use vfio in the host and assign host PCI devices as PCI devices in the guest as well.

This opens one fundamental question: What kind of PCI emulation level do we need from i386/virt? Is PCI host bridge+root port enough? Are PCI segments enough for the guest OS to really discover new PCI devices?

[2018-06-29 11:34] sameo commented on #17
cc @anthonyzxu

[2018-07-02 17:35] CheyenneForbes opened #19 "Is there a way to get guest OS CPU, RAM and/or Disk usage?"

[2018-08-03 09:53] sameo opened #35 "Missing SRAT ACPI table"
Since we support NUMA, we should add a SRAT to our set of ACPI tables.

[2018-08-03 09:53] sameo commented on #35
cc @yangzhon

[2018-08-06 17:30] CheyenneForbes opened #40 "Just a few questions"
(You dont have to be able to answer all questions to reply)

1. Will 32bit OSs ever be supported?

2. Can Ceph be used as NEMU's block storage? KVM/QEMU supports it.

3. Would it be possible to run OSs other than windows and linux? Or NEMU will reject them?

4. Is anyone using this in production? Can it be?

[2018-08-08 12:20] liujing2 commented on #16
@rbradford @sameo @mcastelino @yangzhon
I tested virtio-blk-pci and virtio-net-pci hotplugging onto **pcie-root-port** on i386/virt platform and succeed.
Is this what we expected?

Commands:
{ "execute": "device_add", "arguments": { "driver": "virtio-net-pci", "id": "virtio-net1", "bus": "rp1", "bootindex": "2", "addr": "2" } }

{ "execute": "blockdev-add", "arguments":{"driver":"raw","node-name":

[2018-08-08 13:52] rbradford commented on #16
/CC @sboeuf

I thought Sebastien tried this yesterday and found it didn't work

[2018-08-08 14:45] sboeuf commented on #16
@liujing2 what is the rp1 bus ? Is that something that has been introduced with some recent OVMF changes ?

What I did yesterday was:
[code]
And from a separate shell:
[code]

Now, if I try `"bus": "rp1"`, I get a different error because it does not even know about this bus:
[code]

[2018-08-08 17:10] sboeuf opened #44 "NVDIMM support"
We need to implement the NVDIMM support for cases that would require the image being passed as a fake NVDIMM.

[2018-08-09 02:18] liujing2 commented on #16
@sboeuf The pcie.0 does not support hot-plug in theory, so we need test the virtio hotplug on pcie-root-port, whose id is "rp1" in my test. Sorry to mention that yesterday.

[2018-08-09 02:19] liujing2 commented on #16
@sboeuf  I add -device pcie-root-port,id=rp1,addr=6,bus=pcie.0 \ into the commands.

[2018-08-09 11:45] liujing2 commented on #16
@sameo @rbradford @sboeuf @mcastelino
Update the status:
virtio hotplugging works only on direct kernel boot, fails for OVMF boot. I am still looking at this.

[2018-08-09 11:50] liujing2 commented on #16
This is the guest dmesg for direct kernel booting.
I am not sure if we could ignore the last message because we use MSI?
root@kata-container ~ # [  604.939696] pciehp 0000:00:06.0:pcie004: Slot(0): Attention button pressed
[  604.939953] pciehp 0000:00:06.0:pcie004: Slot(0): Card present
[  604.940176] pciehp 0000:00:06.0:pcie004: Slot(0) Powering on due to button press
[  606.090183] pci 0000:01:

[2018-08-09 23:11] sboeuf opened #46 "metrics: Compare virt(x86) and pc machine types"
I am starting this issue as a thread to discuss and agree on how we should properly compare `virt` and `pc` to show that we improved different metrics such as binary size, memory footprint, boot time, ...

__What matters?__
We need a list of metrics where we think we should make a difference with `virt`.
- __vm exits__: from the meeting this morning, we discussed about VM exits that might occur le

[2018-08-09 23:11] sboeuf commented on #46
/cc @mcastelino @sameo @rbradford @yangzhon @liujing2

[2018-08-10 02:27] yangzhon commented on #46
@sboeuf @mcastelino @sameo @rbradford @yangzhon @liujing2

My concerns
(1). boot time. If we use "-kernel" option command, we need enable fw_cfg DMA, which can decrease the copy time. Currently, the PIO mode should be used.

(2). binary size and memory footprint. If we check this, we had better remove all other unrelated code.

[2018-08-10 11:40] liujing2 commented on #16
@rbradford @sboeuf @mcastelino
1. The latest cloud image [clear-24330-cloud.img](https://download.clearlinux.org/releases/24330/clear/clear-24330-cloud.img.xz ) uses 4.17.14-272.kvm (uname -a).  I downloaded the corresponding [src.rpm](https://download.clearlinux.org/releases/current/clear/source/SRPMS/linux-kvm-4.17.14-272.src.rpm) and [rpm](https://download.clearlinux.org/releases/24330/clear/x8

[2018-08-10 12:51] liujing2 commented on #16
For PCIe hotplug in guest:
CONFIG_HOTPLUG_PCI=y
CONFIG_HOTPLUG_PCI_PCIE=y
CONFIG_PCIEAER=y
CONFIG_PCIEASPM=y
CONFIG_PCIEASPM_DEFAULT=y

[2018-08-10 14:41] sboeuf commented on #16
@liujing2

You should get the rpm on your local machine and extract it to a directory. Once extracted, you should mount the CL cloud image and replace both the kernel and the modules. Here is a list of steps that you can use:
[code]

Let me know if something's not clear ;)

[2018-08-10 20:43] sboeuf commented on #16
@liujing2
Today, I have tried to hotplug some virtio-...-pci devices but nothing happened inside the VM. Using the pcie root port `rp1` that I have added from the qemu command line works, and from the monitor, I can "add" some devices. But from inside the VM, nothing happens, nothing is created.
I have tried this on the direct kernel boot since the CL image does not have all the kernel configs nee

[2018-08-13 06:23] liujing2 commented on #16
@sboeuf Firstly thanks for the details and I need convert from qcow2 to raw then mount. :)
For the directly kernel boot, I evaluated today that my guest can hotplug. Copy the whole config as follows.
[code]
And this is my qemu commands:
[code]
I pasted the PCI related part. And you could ping me directly if anything I missed.

[2018-08-13 10:25] rbradford opened #48 "Memory hotplug interacts badly with NVDIMM"
Memory hotplug does not work with OVMF ([0.2](https://github.com/rbradford/edk2/releases/tag/0.2))

Testing with Clear Linux https://download.clearlinux.org/releases/24380/clear/clear-24380-cloud.img.xz (has @sboeuf kernel changes)

When hotplugging 1G dimm:

[code]

I see the following in dmesg:

[code]
CC: @sboeuf @yangzhon @sameo

qemu command line is:
[code]

[2018-08-13 11:15] liujing2 commented on #48
I just tested this on direct kernel boot, with config including https://github.com/intel/nemu/pull/41#issuecomment-411875634, and clear-24380-cloud.img, getting similar result.
[code]

[2018-08-13 12:04] rbradford commented on #48
Removing the added NVDIMM device makes hotplug of memory work:

i.e. removing this:

`-object memory-backend-file,id=mem0,share,mem-path=testnvdimm.img,size=51200 -device nvdimm,memdev=mem0,id=nv0`

[2018-08-13 12:09] rbradford commented on #48
Also, adjusting the size of the nvdimm to 1Gib (from 50M) makes no difference:

[code]

[2018-08-13 13:26] yangzhon commented on #48
@rbradford @sboeuf

as for log:
unaligned hotplug range: start 0x100200000

The hotplug base address should be 0x100000000

[2018-08-13 13:49] rbradford commented on #48
FYI, with Q35 and upstream OVMF.fd I see the same error message and the memory does not get added to MemTotal

[2018-08-13 14:04] sboeuf commented on #16
Thanks @liujing2 ! I'll give this a try!

[2018-08-13 14:07] rbradford commented on #48
It also fails if I use qemu 2.12.0 (so none of our NEMU changes) and QEMU tip

[2018-08-13 15:05] rbradford commented on #48
So the problem is this:

When you have the nvdimm attached the next address for the memory hotplug may not be aligned to  128mib hence it will fail.

If you change your nvdimm to something that is a multiple of 128mib then it correctly works. The start_qemu.sh script had two bugs:

* It was reporting the size in K and treating it as bytes (so my attempt to give me 1gib nvdimm gave me a  1mb (not m

[2018-08-13 15:20] sameo commented on #48
@rbradford I feel this is a qemu upstream bug. For sure the memory hotplug range should be aligned on 2^27, and qemu should be able to pick the next available one.

[2018-08-13 15:41] sameo commented on #40
We don't plan to.

Yes.

For now we only intend to support Linux first and then Windows.

[2018-08-13 15:44] sameo commented on #46
The device model size is also really important. How many devices do we emulate? What does our QOM tree look like? The more complex and larger it is, the bigger the attack surface.

[2018-08-13 15:48] sameo commented on #46
vm exits is a very interesting metric, although obviously some are more expensive than others.

It would be very interesting to be able to measure how much time we spend not executing VM's code for a given set of tasks, for pc or q35 vs virt.

[2018-08-13 17:01] wkozaczuk commented on #40
Relatedly I was wondering if it should be possible to run OSv (
https://github.com/cloudius-systems/osv), x86 64-bit Linux-like unikernel,
on NEMU. OSv can run on regular QEMU/KVM as following:

qemu-system-x86_64 -m 2G -smp 4 -vnc :1 -gdb tcp::1234,server,nowait \
-device virtio-blk-pci,id=blk0,bootindex=0,drive=hd0,scsi=off \
-drive file=usr.img,if=none,id=hd0,cache=none,aio=native \
-netdev use

[2018-08-13 21:53] sboeuf commented on #16
@liujing2 I don't know why it does not work for me...

Just to clarify, after you hotplug any virtio-blk-pci or virtio-net-pci, you get a new entry when you look at `/sys/bus/pci/devices`, right ?

@rbradford @sameo could you try this on your machine ? The QMP command to add the new PCI device works, but it does not appear (not detected) by the guest kernel...

[2018-08-14 10:41] bonzini commented on #46
SLOC or number of devices is a very bad measure of attack surface. What's the likelihood that a logic bug in a simple state machine like PIC/PIT/IOAPIC is exploitable, as opposed to a complex device like virtio-blk?

For several devices, you could even statically prove that they cannot access an array out of its bounds; virtio devices chase pointers all the time and load complex data structures fr

[2018-08-14 11:26] sameo commented on #40
@wkozaczuk Let me try to answer some of your questions here:

- We have not tested OSv, as you realized.
- I'm not familiar enough with OSv, but the first thing I'd do is booting an OSv guest with a vanilla 2.12.0 qemu and then try the same command line with the virt-x86 branch.
- A few good examples of minimal nemu commands:
  -  https://github.com/intel/nemu/blob/experiment/code-reduction/tools/

[2018-08-14 15:53] sameo commented on #48
@rbradford This should be fixed with PR #50 ?

[2018-08-14 15:55] sboeuf commented on #48
Yes it should be

[2018-08-14 15:57] sameo opened #51 "DSDT warnings"
When dumping our virt generated DSDT table, we get the following warnings:

[code]

[2018-08-14 16:29] #48 closed, assigned to sboeuf

[2018-08-14 18:45] sboeuf commented on #16
@liujing2 this worked for me eventually !
Either using this:
[code]
or:
[code]

[2018-08-15 01:55] liujing2 commented on #16
@sboeuf Good to know that!!

[2018-08-17 05:33] sboeuf opened #53 "PCI hotplug through ACPI"
We need to investigate how much it costs (from an emulation standpoint) to enable PCI hotplug through ACPI for `virt`.
This will help to make some comparison with other potential options and how much we can save with those options.

[2018-08-17 05:38] sboeuf commented on #53
@liujing2 I have just created the branch `topic/virt-x86_pcihp_acpi` for the purpose of PCI hotplug through ACPI support.
We can use it to share the code.

[2018-08-17 07:52] liujing2 commented on #53
@sboeuf @mcastelino
What is our "goal bus" for PCI hotplug? pcie-root-port or pcie.0 or others?

[2018-08-17 08:00] yangzhon opened #54 "The bzImage loading is failed in pc/xen/q35 platfrom"
@sameo, @rbradford
Since we added the new struct AcpiConfiguration for acpi usage, which is initialized latterly in pc_machine_done() and some member in AcpiConfiguration are not initialized, which made the qemu coredump while loading bzImage.

by the way, for xen, which is using pc machine type and will call xen_load_linux(pcms), in this time. the  AcpiConfiguration  should not be initialized.

S

[2018-08-24 09:12] rbradford opened #61 "Q35 ACPI warnings"
[code]

Observed on serial port after rebooting.

Seen on topic/virt-x86 branch. Need to check if still present in 3.0 version and if so whether present on upstream 3.0

[2018-08-24 09:12] rbradford commented on #61
CC: @sameo @yangzhon

[2018-08-24 17:40] sameo commented on #61
@rbradford This should be fixed now. Closing.

[2018-08-24 17:40] #61 closed, assigned to nobody

[2018-08-24 17:42] sameo commented on #54
This is fixed on topic/virt-x86-3.0
@yangzhon Could you please test again?

[2018-08-24 18:48] sboeuf opened #64 "nats: Add test for PCI hotplug through ACPI"
In order to test the hotplug of PCI devices through ACPI, here is what we need:

Start a VM with `OVMF` and `virt` machine type:
[code]

Check the list of PCI devices:
[code]

Use QMP to add a PCI device to the main bus:
[code]

Now, if we check the sysfs (or `lspci`), here is the new entry:
[code]

We need to check for the PCI unplug too, by using QMP:
[code]
by making sure we're getting back to

[2018-08-27 03:00] yangzhon commented on #54
@sameo ,

I have successfully verified bzImage loading test on Q35/PC platform, thanks!

[2018-08-27 03:00] #54 closed, assigned to nobody

[2018-08-28 09:34] liujing2 opened #65 "3.0.0 breaks pci windows"
@sameo @mcastelino @rbradford @sboeuf @yangzhon
dmesg  shows cold-plugged devices are assigned by firmware.
And if we add a pcie-root-port when launch guest, it also failed for "no space"
[code]

[2018-08-28 16:39] rbradford commented on #65
I diffed the dmesg output between the two builds and found

[code]

Which led me to look at the _CRS creation for PCI which meant I then spotted the rebase error in the diff between the two branches.

[2018-08-28 16:45] mcastelino commented on #65
@liujing2 @sboeuf will your refactored code work with Q35. Testing your refactored code with PCI hotplug using ACPI. This may be useful as it will unify the pc, q35 and virt hotplug handling paths for kata.

[2018-08-29 14:34] rbradford commented on #65
@liujing2 I think this can be closed now?

[2018-08-29 17:18] tpepper opened #69 "update README"
Is this a fork of Qemu?  Why?  Should have a unique description in the README.

[2018-08-30 01:38] liujing2 commented on #65
@rbradford yes, let me close it!

[2018-08-30 01:39] #65 closed, assigned to nobody

[2018-08-30 08:39] liujing2 opened #70 "specify -kernel not working on cpu/mem hotplug"
Hi all,
When I add -kernel rpmsrc/linux-4.17.14/arch/x86/boot/bzImage and tested cpu/memory hotplug, it fails with no kernel message.
Downloaded [linux-kvm-4.17.14-274.src.rpm](https://download.clearlinux.org/releases/24690/clear/source/SRPMS/linux-kvm-4.17.14-274.src.rpm) , which includes config and source codes.
I checked the config w/ CONFIG_ACPI_HOTPLUG_CPU=y, CONFIG_HOTPLUG_CPU=y and CONFIG_A

[2018-08-30 09:29] liujing2 opened #71 "memory hot removing fails"
@rbradford @sameo @mcastelino @yangzhon @sboeuf
Unplugging memory is not working both on 3.0.0 and 2.12.0
[code]
[code]

[2018-08-30 09:39] liujing2 commented on #71
Actually, #70 and #71 are found because when I tried using \_SB.PCI0 to do cpu and memory hotplug instead of \_SB.PCI1.
Mark here.
CPU hot plug/unplug works well with \_SB.PCI0 resource path. I am curious what has happened since we chose PCI1.
MEM hot plug/unplug show the same behaviour when changes to \_SB.PCI0. So I guess if we fix #71, it can use PCI0 then.

[2018-09-03 08:52] sameo commented on #70
Does hot plug and hot removal both fail?

[2018-09-03 10:20] sameo commented on #71
Testing with a 4.9 kernel, `topic/virt-x86`, and the following commands:

[code]

I get a kernel oops when hot removing memory:

[code]

[2018-09-03 13:26] rbradford commented on #71
Before you can unplug the memory from qemu I think you need to offline it first: https://github.com/torvalds/linux/blob/master/Documentation/memory-hotplug.txt

[2018-09-04 06:16] liujing2 commented on #71
[code]

```memory32~memory39``` is hotplugged by ```id=dimm1``` but why some of them are removable but some are not. So when we ```device_del dimm1```, kernel will automatically offline those removable and report memory32 offline failure.

[2018-09-04 06:27] liujing2 commented on #70
kernel 4.16, [config](https://gist.github.com/liujing2/f867abdf00015e5a7c0c4b986e2bd52d), need add CONFIG_MEMORY_HOTPLUG_DEFAULT_ONLINE=y, or online by manual, memory hotplug succeeds.  hot remove memory is the same as #71
cpu hotplug/unplug works too.
Double checked the 4.17.14-274 kernel config and it includes all needed config. Don't know what else configuration needed?

[2018-09-04 17:25] sboeuf commented on #71
Is it even working with a vanilla qemu 3.0 or 2.12 ?

[2018-09-05 02:02] liujing2 commented on #71
@sboeuf qemu-vanilla 3.0.0 also has the same results.
[code]

[2018-09-05 14:14] sboeuf commented on #71
@liujing2 thanks for checking. Could you also check with 2.12 vanilla ? I think this will fail too.
Now the question is, is this an issue that we want to solve since it's not even supported by the qemu vanilla ?
I think it'd worth a try but this might take some time.
@rbradford @sameo @mcastelino wdyt?

[2018-09-05 17:32] wkozaczuk commented on #40
On Tue, Aug 14, 2018 at 7:26 AM Samuel Ortiz <notifications@github.com>
wrote:

any issues.

trying to grab ACPI tables. Is this feature supported or will be supported
on nemu? What would be the workaround?

[2018-09-06 08:47] liujing2 commented on #71
Tested 2.12 vanilla qemu with pc platform, the same result when removing memory dimm1.

[code]

[2018-09-06 09:37] liujing2 commented on #17
NIC vfio passthru is tested based 3.0.0 topic/virt-x86 and works well. Update some results for record.

[code]

Before hotplug:
[code]
After hotplug:
[code]

The only issue is that guest reports
[code]
which looks ugly.
@sameo @mcastelino @rbradford @yangzhon @sboeuf

[2018-09-06 10:35] yangzhon commented on #17
PCI: Bug - unimplemented PCI INTx routing (pci-lite-host)

It's doesn't matter, we did not do legacy INT routing and we only support msi/msix interrupt

[2018-09-06 17:23] mcastelino commented on #17
@liujing2 @yangzhon we do not populate the PRT or for that matter set it up correctly. I am looking at this right now.

@liujing2 can you provide the following dumps too please post VFIO assignment

[code]
[code]
and
[code]
and
[code]

[2018-09-07 03:04] liujing2 commented on #17
@mcastelino
Before hotplug (after login):
[code]
After hotplug vfio NIC:
[code]

[2018-09-10 23:32] #69 closed, assigned to nobody

[2018-09-12 09:47] sameo opened #87 "Missing NATS tests for object properties"
We are missing NATS tests for verifying that we are carrying the right driver/object default properties.
For example we want to make sure that the `apic-common` `vapic` property is always turned off but we're not testing this.

Ideally this should be done in 2 steps:

* [ ] Add an object property getter API to govmm
* [ ] Define an array of (object, property, value) tuples to be checked from NATS

[2018-09-20 02:19] adofirst2018 opened #94 "NEMU run some error"
I try start NEMU follow this command， but  faced some error.

[root@duhy nemu]# qemu-system-x86_64 -m 2048M -smp 4 -drive file=qemu-3.0.qcow2,cache=none,if=virtio -machine virt,accel=kvm,kernel_irqchip -net nic -net tap,ifname=tap0,script=no,downscript=no
**
ERROR:qom/object.c:542:object_new_with_type: assertion failed: (type != NULL)
Aborted (core dumped)

[root@duhy nemu]# qemu-system-x86_64 -ma

[2018-09-20 06:52] adofirst2018 commented on #94
(gdb) bt
#0  0x00007fffed82a277 in raise () at /lib64/libc.so.6
#1  0x00007fffed82b968 in abort () at /lib64/libc.so.6
#2  0x00007ffff74e00c5 in g_assertion_message () at /lib64/libglib-2.0.so.0
#3  0x00007ffff74e015a in g_assertion_message_expr () at /lib64/libglib-2.0.so.0
#4  0x0000555555cad188 in object_new_with_type (type=0x0) at qom/object.c:542
#5  0x0000555555cad200 in object_new (typename

[2018-09-20 07:56] rbradford commented on #94
@duhongyu This won't happen if you add -cpu host

[2018-09-20 13:57] adofirst2018 commented on #94
thanks

[2018-09-20 14:41] adofirst2018 commented on #94
I start NEMU follow this command:
`qemu-system-x86_64 \
        -machine virt,accel=kvm,kernel_irqchip -cpu host \
        -m size=1G,slots=2,maxmem=3G \
        -smp sockets=1,cpus=4,cores=2,maxcpus=8 \
        -device virtio-blk-pci,drive=image -drive if=none,id=image,file=qemu-3.0.qcow2 \
        -device virtio-serial-pci,id=virtio-serial0 \
        -device virtconsole,chardev=charconsole0,id=c

[2018-09-20 14:49] rbradford commented on #94
Unless you have a custom CentOS image that uses EFI you cannot use that with NEMU. You need to use a distribution with cloud images that uses EFI: Ubuntu or Clear Linux are the most popular options.

[2018-09-20 14:52] rbradford commented on #94
Here are some details: https://gist.github.com/rbradford/b816fb153174fa2feff1edb3f92de2b7

[2018-09-21 02:43] adofirst2018 commented on #94
but I must run centos7.4 by NEMU， how to  fixed centos or bios， can you give me some info?

[2018-09-23 09:59] adofirst2018 opened #99 "How to run centos in NEMU?"
I want to run centos in NEMU, how to custom centos image?

[2018-09-25 15:21] rbradford commented on #99
You cannot use the CentOS cloud images as they do not support EFI. However you can install into a virtual disk using the Q35 machine type and it's fully working serial port and the stock installer. It's not well documented how to do a serial install but i've figured it out and written instructions below:

To use CentOS download the minimal installer:

```wget http://mirror.mhd.uk.as44574.net/mirro

[2018-09-26 01:32] adofirst2018 opened #100 "How to download ‘custom OVMF’ source"
I follow this guidance [(https://gist.github.com/sameo/51dc5556714c09a7a52163522114e2dd)](url)
download custom ‘custom OVMF’， I want to know how to download ‘custom OVMF’ source？

[2018-09-26 07:46] sameo commented on #100
@duhongyu The custom OVMF code for supporting the i386/virt platform is here:

https://github.com/rbradford/edk2

[2018-09-26 11:06] rbradford commented on #100
@duhongyu There are also binaries built by travis available here: https://github.com/rbradford/edk2/releases

[2018-09-26 13:41] sameo commented on #40
trying to grab ACPI tables. Is this feature supported or will be supported
on nemu? What would be the workaround?

Have you tried booting on top of the only firmware that virt supports, i.e. OVMF?
I'd try fetching our latest virt compatible OVMF binary:

[code]

Also, don't use isa-serial for the console, but virtio-serial instead.

[2018-09-26 14:24] adofirst2018 commented on #100
@sameo @rbradford thanks very much，

[2018-09-26 14:25] adofirst2018 commented on #99
@rbradford thanks for your response.

[2018-09-27 01:27] adofirst2018 opened #101 "NEMU boot time is looger than qemu"
I start ubuntu cloud 16.04 with NEMU, but boot time is 19s, even looger than qemu-2.9， It takes about 13s from start NEMU command to print ‘loop: module loaded’.

/tmp/debug_log show
it take about 13s wait print "MpInitChangeApLoopCallback() done!" after print "FSOpen: Open '\EFI\BOOT\grubx64.efi' Success"

this is start NEMU command:

/home/duhy/workSpace/nemu/nemu/build-x86-64/x86_64-softmmu/qem

[2018-09-27 06:57] yangzhon commented on #101
@duhongyu

please use pure virt build and check again, the config file ref tools/build_x86_64_virt.sh, thanks!

below is my qemu command for you ref:
sudo /home/chen/nemu/build/x86_64_virt-softmmu/qemu-system-x86_64_virt \
     -bios /home/chen/Downloads/OVMF_0.2.fd \
     -nographic \
     -nodefaults \
     -L . \
     -machine virt,accel=kvm,kernel_irqchip \
     -smp sockets=1,cpus=4,cores=2,m

[2018-09-27 07:03] yangzhon commented on #101
@duhongyu

This issue is also found in PC or Q35 platform with same qemu command?

[2018-09-27 07:14] yangzhon opened #102 "The hw configurable impact other platform build"
@sameo @rbradford

I am disabling APIC and IOAPIC device model since the irq will offload to kernel.  when i did full build with below command
./configurable

There are many build errors during all platform builds, some built-in files have been configurable, we need add this CONFIG_XXX to all platforms, this is the reason why i added one hw-common.mak before. If we do not use this file, we need to

[2018-09-27 07:27] adofirst2018 commented on #101
[root@duhy nemu]# /home/duhy/workSpace/nemu/nemu/build-x86-64/x86_64-softmmu/qemu-system-x86_64 -machine help
Supported machines are:
pc                   Standard PC (i440FX + PIIX, 1996) (alias of pc-i440fx-3.0)
....
q35                  Standard PC (Q35 + ICH9, 2009) (alias of pc-q35-3.0)
pc-q35-3.0           Standard PC (Q35 + ICH9, 2009)
pc-q35-2.9           Standard PC (Q35 + ICH9, 2009)
pc-

[2018-09-27 08:07] adofirst2018 commented on #101
@yangzhon what is your gcc version?

[2018-09-27 08:09] yangzhon commented on #101
@duhongyu

gcc version 7.3.0 (Ubuntu 7.3.0-16ubuntu3)

[2018-09-27 08:14] adofirst2018 commented on #101
@yangzhon thanks, my gcc version is low,  there is some error at compile nemu

[2018-09-27 08:26] rbradford commented on #101
@duhongyu For the xenial image, did you modify the kernel command line: e.g.

[code]

?

[2018-09-27 09:05] adofirst2018 commented on #101
@rbradford I have modify /mnt/boot/grub/grub.cfg follow your guidance，my compile nemu target is ‘qemu-system-x86_64’， is this lead to the issue?  should I compile target is 'qemu-system-x86_64_virt '?

[2018-09-27 09:55] rbradford commented on #101
@duhongyu Thank you. I asked because I have observed that not changing grub.cfg can result in boot delays.

I think we need to understand where the delays are coming from. Is it firmware, kernel or userspace time. Your remark:

Makes me think it could be a combination of grub and the kernel as that function you mention is hooked into `ExitBootServices()`. Changing to a pure virt build is unlikely

[2018-09-28 13:03] #100 closed, assigned to nobody

[2018-09-28 13:03] rbradford commented on #94
Closing this issue as you opened #99 in its place.

[2018-09-28 13:03] #94 closed, assigned to nobody

[2018-09-29 12:47] adofirst2018 commented on #101
@rbradford thanks,  I think mainly boot time take in fireware(EDK2.0),  have you this problem?

[2018-10-01 13:47] rbradford opened #107 "Ubuntu cloud images need console=hvc0"
Currently in NATS and in our manual instructions we modify the the Ubuntu images to add console=hvc0 to the kernel command line.

This has the the benefit of giving us boot messages prior to getty.

_I think this is also required to workaround a bug where systemd doesn't boot correctly if ttyS0 cannot be correctly probed?_

Launchpad issue: https://bugs.launchpad.net/cloud-images/+bug/1795402

[2018-10-03 12:06] rbradford commented on #101
@duhongyu I don't think so. You said that it took 13s between "FSOpen: Open '\EFI\BOOT\grubx64.efi and "MpInitChangeApLoopCallback() done"

That is not firmware time. That is GRUB (and depending on how it is loaded) Linux time.

[2018-10-03 12:49] rbradford opened #114 "Investigate Clear Linux SSH Reboot flakes"
The NATS reboot test flakes out when running with Clear Linux due to SSH connections repeatedly getting EOF (over a period of 50 seconds). This does not happen with Xenial.

[2018-10-03 22:30] wkozaczuk commented on #40
@sameo Thanks for the info.

Yesterday I pulled latest version of virt-x86 branch and I almost managed to boot OSv on nemu. I built nemu using tools/build_x86_64.sh script. On other hand when I tried to build it using using build_x86_64_virt.sh I got following link error:
[code]
I could see that the latter one disables more components but it is not clear to me what the intention was behind these t

[2018-10-04 19:48] mcastelino opened #120 "Shutdown/Reboot does not work with NEMU+virt due to PCIe MMIO reads on shutdown/reboot paths in OVMF."
Shutdown and reboot does not work with NEMU+q35 as we see a kernel panic due to the Pci Read to determine the platform type in EDK2. Once we switch the virt platform to be a PCI express platform, this issues shows up with the virt platform.

https://github.com/rbradford/edk2/commit/bcb67a8f799054d0d459ba8872c09aa1a4fd9fec#diff-651f462353af13f3e61a4ed8419eb378R120

[2018-10-04 19:49] mcastelino commented on #120
/cc @rbradford @liujing2

[2018-10-04 23:07] mcastelino commented on #120
And it is also broken when testing NEMU+Q35 with upstream OVMF built from source.
So the PciRead Logic was broken to begin with or we did something in NEMU that broke the Q35 reset path. This panic happens only with a kernel Linux 4.19-rc4 with ACPI reduced set.

[code]

[2018-10-04 23:25] mcastelino commented on #120
Looks like Q35+OVMF has a broken reboot/reset path.

With upstream OVMF: https://github.com/tianocore/edk2/commit/c0b1f749ef1304810ed4ea58ded65b7f41d79d3e
And upstream QEMU: https://github.com/qemu/qemu/commit/dafd95053611aa14dda40266857608d12ddce658

The same kernel panic is observed.

[2018-10-05 04:46] mcastelino commented on #120
Kernel panic seen on virt
[code]

[2018-10-05 08:42] rbradford commented on #120
Does NATS show up the Q35 Reboot/Shutdown kernel panic?

[2018-10-05 08:42] rbradford commented on #120
(Sorry, wrong button!)

[2018-10-05 10:23] sameo opened #121 "virt pulls PC headers"
The `i386/virt` machine type still pulls in some of the pc machine type headers, showing that some of the generic part of the QEMU code still depends on pc definitions.

[2018-10-05 15:25] mcastelino commented on #120
@rbradford The Q35 issues was not due to PCIe access. It was due to the kernel being configured to support ACPI reduced only. I will change the title of this bug. Also Q35 does not seem to follow the same code path on reboot (or the PCIe access does seem to work). I will be confirming my tracing qemu.

So this bug is limited to virt for now. I will be backing out the PCIe change in OVMF till this

[2018-10-06 16:58] mcastelino commented on #120
@liujing2 the PciRead in the OVMF code does not work once the platform is recognized as a PCIe platform. The MCFG space is no longer mapped after exit boot services. So the MCFG memory needs to be registered as EFI_RUNTIME memory. It cannot be done at platform dxe stage as it is too early. So we need to figure out at what point in the OVMF boot sequence it has to be registered as runtime memory. T

[2018-10-07 15:29] lostinblue opened #125 "Can you please add all the dependencies to the README.md?"
The `./configure` output shows  A LOT of options, and its quite a lot of work to hunt down each and every dependency for each `yes/no` option. Could you please provide the package names of each dependency in the README.md? At least for Debian/Ubuntu, but for both Debian/Ubuntu and CentOS/Redhat would be idea.

[2018-10-08 03:27] adofirst2018 commented on #99
@rbradford   I try run centos with nemu follow your guidance，but here is some error in debug-log

[Security] 3rd party image[0] can be loaded after EndOfDxe: PciRoot(0x0)/Pci(0x1,0x0)/HD(1,GPT,22FE2257-A9FE-40C3-AEFF-A9CAC97234D2,0x800,0x64000)/\EFI\BOOT\BOOTX64.EFI.
InstallProtocolInterface: 5B1B31A1-9562-11D2-8E3F-00A0C969723B 7E6DF140
Loading driver at 0x0007E470000 EntryPoint=0x0007E48C000
Ins

[2018-10-08 04:38] adofirst2018 commented on #101
@rbradford thanks，your answer is right,  can you give me some advise, how to debug this issue?

[2018-10-08 08:35] sameo commented on #125
@lostinblue Could you please try using https://github.com/intel/nemu/blob/topic/virt-x86/tools/build_x86_64_virt.sh to build NEMU?

[2018-10-08 10:19] liujing2 commented on #120
@mcastelino I tried to catch up the work during this week. And let me investigate the reboot/shutdown issue.
BTW, which branch of OVMF in your repo can be used for now?

[2018-10-09 00:33] mcastelino commented on #120
@liujing2 this issue is fixed in the pending PR https://github.com/rbradford/edk2/pull/5

[2018-10-09 08:07] jodh-intel opened #127 "Add nemu-specific tag to "--version" output"
To allow users to determine if their qemu binary is in fact NEMU, please add a unique tag (`nemu`? :-) to the output of `--version`.

This will be particularly useful when [Kata Containers are configured to use NEMU](https://github.com/kata-containers/documentation/pull/266) since running `kata-runtime kata-env` will then capture this important detail to determine which version of QEMU is being us

[2018-10-09 08:24] rbradford commented on #99
@duhongyu  That error is because OVMF could not find a boot loader on the disk. Did you successfully install to the disk image you made?

[2018-10-09 08:25] rbradford commented on #10
The OVMF build we use supports PXE booting. Although i've not tested it we've not done anything that would break it.

[2018-10-09 08:25] #10 closed, assigned to nobody

[2018-10-09 08:26] rbradford commented on #14
Completed.

[2018-10-09 08:26] #14 closed, assigned to nobody

[2018-10-09 08:26] rbradford commented on #15
Completed.

[2018-10-09 08:26] #15 closed, assigned to nobody

[2018-10-09 08:28] liujing2 opened #129 "SMBIOS for virt"
@sameo @rbradford @yangzhon @mcastelino
Two key points in conclustion.
1. Do we need open CONFIG_SMBIOS for virt platform in order to use DMI?
1. If yes, there're 2 sub issues.
    1. CONFIG_SMBIOS=y is set in default-configs/x86_64-softmmu.mak, but actually when hw/i386/fw.c fw_build_smbios() check it, it doesn't show as expect. So Nemu doesn't build smbios tables for guest and dmesg shows [    0

[2018-10-09 08:30] rbradford commented on #13
We have direct kernel boot using OVMF now.

[2018-10-09 08:30] #13 closed, assigned to nobody

[2018-10-09 08:33] rbradford commented on #19
Usually the type of information you're asking about comes from an agent running inside the VM and communicating with the cloud management software running outside.

[2018-10-09 08:33] #19 closed, assigned to nobody

[2018-10-09 08:35] rbradford commented on #35
We have an SRAT table for NUMA support now.

[2018-10-09 08:35] #35 closed, assigned to sameo

[2018-10-09 08:44] liujing2 commented on #129
Some answers as below.

1. @mcastelino mentioned some reasons for DMI in IRC.
[code]

And mails mentioned by @mcastelino

2. If we need open CONFIG_SMBIOS, two sub-issues.
For the first one, @yangzhon has root caused as follows.

For the second, once we open the config, some default values for smbios need to be set firstly. Otherwise, Nemu could not build tables for guest. @liujing2 send [PR](http

[2018-10-09 09:04] sameo commented on #129
@liujing2 Could you please clarify why we need DMI and SMBIOS?

[2018-10-09 09:13] liujing2 commented on #129
@sameo I updated information above.

And mails mentioned by @mcastelino

Actually, both Yang and I are not sure why and just quickly align with Manohar this morning. So maybe we could ask later for details?

[2018-10-09 09:34] lostinblue commented on #125
I'm getting

[code]
And this just disables all the features? I can sucessfully build it, but I'm working on a script that builds a QEMU based VM on the fly, installs the dependencies and then builds NEMU so I can get a reliable and secure version of it.

So far I have:

[code]

But it is just taking a long time and I was hoping you already had this information.

[2018-10-09 10:04] sameo commented on #125
You need to export SRCDIR to make it point to your nemu top level directory.
For example:
[code]

We build nemu from scratch from our CI, you should look at `tools/setup-build-env.sh`, and in particular at the following lines:

[code]

[2018-10-09 10:37] lostinblue commented on #125
Thanks for taking the time to share the additional information.

[2018-10-09 13:08] sboeuf commented on #127
Thanks @jodh-intel
@sameo @rbradford what do you think about this? This would make nemu identification clear.

[2018-10-09 13:17] sameo commented on #125
@lostinblue Are you sure you have not modified `build_x86_64.sh`? Line 12 is not pointing at `configure` from the current upstream script...

[2018-10-09 13:17] rbradford commented on #129
Users of `dmi_get_date()` that might be relevant to us

[code]

The first can be overriden by pci=use_crs on the kernel command line but it **seems we are using the values from ACPI anyway** "[    0.293202] PCI: Using host bridge windows from ACPI; if necessary, use "pci=nocrs" and report a bug"

The second generates a warning that **we don't see**  "PCI: Sanity check failed"

The third generates

[2018-10-09 13:31] lostinblue commented on #125
Ill try a fresh VM and see if that helps.

[2018-10-09 15:11] yangzhon commented on #129
Why DMI need SMBIOS ? In QEMU
fw_build_smbios() ----> smbios_get_tables()----->smbios_entry_point_setup(), which will create DMI entry point

In the upstreamed QEMU, the Guest will show below info:
/sys/firmware/dmi/tables/smbios_entry_point

[2018-10-09 16:38] mcastelino commented on #129
The main reason for us to just report a minimal DMI info is to allow MCFG above 4GB. This allows the MCFG to be allocated anywhere it fits best without requiring a kernel change.

[x86/PCI: allow MMCONFIG above 4GB](https://github.com/torvalds/linux/commit/9a08f7d)
[code]

[2018-10-09 16:48] mcastelino commented on #129
Expanding on this issue further, today if MCFG area was allocated above 4GB and communicated via the ACPI tables, the kernel will not be able to use this due to the DMI check. The DMI check was introduced to work around broken BIOSes. This allows the virt platform to place the MCFG area in any location.

Also in the future it allows PCI Segment MCFG's to be placed above 4GB which gives us consider

[2018-10-09 20:09] rbradford commented on #129
What about fixing it in the kernel? We already need a kernel patch to be able do hotplug.

As we can currently get by without having the MCFG allocated above 4GiB it feels inappropriate to add a legacy feature just to appease some code that is a workaround for detecting we're not a broken bios. Instead we should look at how we can patch the kernel to accept the virt machine.

e.g. currently it che

[2018-10-09 21:02] mcastelino commented on #129
@rbradford yes patching the kernel is an option and the right one going forward.

The only reason to have the DMI info reported is to support older kernels and distros. We know that linux has supported PCI segments for a while and we can support multiple segments today using virt without a kernel change.

[2018-10-10 08:13] sameo commented on #127
PR #131 fixed that one.

[2018-10-10 08:13] #127 closed, assigned to nobody

[2018-10-10 08:29] liujing2 commented on #129
@mcastelino  So if we give a DMI_BIOS_DATE after 2010, we could use MCFG above 4g, right? For the previous experiment, you set MCFG located as 0x60000000.

And other question is, besides the year info, what else is needed in the DMI build?

[2018-10-10 13:19] sameo opened #133 "virt build fails if the lbz2 development package are installed"
As reported through issue #40, the virt build fails when the lbz2 packages are installed:

[code]

That's because we disable dmg, but since the lbz2 devel package is installed, we end up with a config-host.mak with `CONFIG_BZIP2=y`.

[2018-10-10 13:57] #133 closed, assigned to sameo

[2018-10-10 14:07] #121 closed, assigned to sameo

[2018-10-10 14:31] sameo commented on #40
Thanks for the report. PR #134 should fix that.

`build_x86_64.sh` mostly disables the same components than `build_x86_64_virt.sh` now, the major difference is that the latter only supports the `virt` x86 platform. It will generate a binary that does not include support for neither the `pc` or `q35` machine types. I strongly suggest you use that one if you want to really exercice NEMU.

Apologies,

[2018-10-10 14:37] rbradford commented on #40
@CheyenneForbes I'm not really an EFI expert but to help you debug what's going on you can get some output from our OVMF binary by adding

[code]

To your command line.

This will then give you output from the "firmware debug" ioport 0x402. Perhaps in your code you could add some simple routine to outb() strings to that port giving you some debug information.

[2018-10-10 14:45] sameo commented on #129
@mcastelino Have we identified which other parts of the kernel would expect to get DMI information from us? And would the kernel need something else than a BIOS year?

[2018-10-10 14:47] sameo commented on #129
@rbradford Or have a kernel parameter to completely disable that check and avoid changing the kernel for each OEM ID that does not need to check this.

[2018-10-12 13:15] rbradford commented on #129
We agreed that we don't need to reintroduce DMI/SMBIOS as we can instead reduce the < 4GiB lowmem range in order to fit all the MMCONFIG allocations needed to support a reasonable number of PCI segments and host bridges on them.

[2018-10-12 13:15] #129 closed, assigned to nobody

[2018-10-12 13:16] rbradford commented on #120
This is now resolved!

[2018-10-12 13:16] #120 closed, assigned to mcastelino

[2018-10-12 16:30] mcastelino opened #137 "Documentation: Describe VFIO testing with NEMU"
VFIO testing with NEMU is manual. The initial cut of the documentation on how to perform the same using a GPU is described here. Please review. We will add additional devices which have simpler VFIO setup.

https://github.com/intel/nemu/wiki/Testing-VFIO

[2018-10-15 02:48] liujing2 commented on #137
@mcastelino  I have a question that, if we want to use one GPU for guest passthrough, why do we need bind it to vfio-pci when host boot up, in other words, why could not unbind and bind to vfio-pci after boot? Thanks.

[2018-10-15 17:44] mcastelino commented on #137
@liujing2 for all other devices you can unbind at runtime. For the GPU you have to blacklist the driver. Runtime unbind does not work. Also early binding to vfio does not work either. Would you mind adding a section to the wiki explaining VFIO with other devices.

[2018-10-17 09:15] liujing2 commented on #137
@mcastelino Got it. I used to manually remove the driver module under /lib/ to unbind at runtime. This might be a tough way.
OK, I will add a section for the VFIO tests with other devices.

[2018-10-18 03:04] liujing2 commented on #137
@mcastelino Draft a document for NIC in the wiki.

[2018-10-18 20:29] mcastelino opened #148 "NATs: Verify the different combinations of hotplug using virt+qboot and virt+OVMF"
# Goal

QEMU supports multiple methods to perform device hotplug.
- ACPI Hotplug on pci bus 0. (pcie.0 on virt or pci.0 on pc).
- SHPC Based hotplug
- PCIe Native hotplug

We need to verify the all of these hotplug methods work with virt with different firmwares (qboot and OVMF).

QEMU also support virtual (virtio) device hotplug and PCI (VFIO) device hotplug.
Note: VFIO hotplug may not be testabl

[2018-10-19 22:24] mcastelino opened #153 "virt: acpi_nvdimm_state in AcpiConfiguration"
The AcpiConfiguration includes acpi_nvdimm_state.
However the other hotplug states are in

[code]

We should try and move it into VirtAcpiState if possible.

/cc @sboeuf

[2018-10-22 03:39] wkozaczuk commented on #40
Finally I got OSv to boot on NEMU:
[code]

with following options (PC machine, etc):
[code]

However I had to do following manual patches (as of fc698169cb72ab6c287549147f8fc74b088bde29 commit):
[code]
The change to virtio.c fixes the bug introduced by QEMU 3.0.0, reported here https://bugs.launchpad.net/qemu/+bug/1795148 and fixed here - https://github.com/qemu/qemu/commit/db812c4073c77 (I believ

[2018-10-23 09:15] #102 closed, assigned to nobody

[2018-10-24 02:07] terenceli opened #157 "Several questions about nemu's development"
Hello all,

Here I have some questions about nemu's development status.
1. As the README says, it only for kvm, but why there contains the TCG code?
2. Is the no-related arch/file or some others removed over, or still in progress, do you
still accept the PR such as removing the unrelated things?
3. Where goes the discussion about some more concrete features, such as I don't know why the vnc
is not

[2018-10-24 06:42] lkml-likexu commented on #157
The Tiny Code Generator (TCG) exists to transform target insns (the processor being emulated) via the TCG frontend to TCG ops which are then transformed into host insns (the processor executing QEMU itself) via the TCG backend.

People who wish to port QEMU to run on a new processor need to be concerned with the backend. There also exists the TCI (TCG Interpreter) effort which provides a backend a

[2018-10-24 07:38] liujing2 commented on #157
@terenceli  Thanks for reading the project. For the detailed questions, it is good to post here and we will give attention and feedback.

[2018-10-24 08:20] yangzhon commented on #157
@terenceli

1. The TCG code is in QEMU. The initial QEMU only supported TCG model and when KVM module in kernel was ready, and Avi enabled KVM accelactor in QEMU.

2. We made some features and hw/ configurable, anyway, any features configurable is welcome and please send the PR

3. If you have some issues, please list the issues in github. As for VNC feature, we default disable it in the shell scr

[2018-10-24 08:44] terenceli commented on #157
@yangzhon

Indeed, but IIUC the kvm VM doesn't depend TCG anyway. Also the TCG is for emulation, As nemu is
abbreviation for No Emulation, I think TCG can cut off totally.

[2018-10-24 08:47] yangzhon commented on #157
@terenceli

TCG are all compiled out from binaries, including x86 and ARM.

[2018-10-24 08:50] terenceli commented on #157
Any plan to remove the code from source tree?

[2018-10-24 08:54] terenceli commented on #157
Any plan to remove the code from source tree

[2018-10-24 08:57] yangzhon commented on #157
@terenceli

TCG is still useful for other customers, we don't need remove this code in upstream QEMU.

NEMU make those features configurable and one shell script will remove those code according to CONFIGs in ./tools/build*.sh and target.mk file.

Please ref https://github.com/intel/nemu/commit/5f2220bbefb81885bbe7111dd51a6e6a0f54f595

[2018-10-24 09:11] terenceli commented on #157
@yangzhon
What's the considerations for leaving the TCG configurable instead remove in nemu?
I think it is not useful in this project.

[2018-10-24 09:18] yangzhon commented on #157
@terenceli

All NEMU patches will be upstreamed into QEMU.

[2018-10-24 10:49] rbradford commented on #148
@mcastelino First we need to get support for direct kernel/initrd boot into NATS. @sameo had a great idea to do `make localmodconfig` inside a booted VM in order to get a config.

I intend to start working on NATS support for building and booting a kernel next week.

[2018-10-24 10:51] rbradford commented on #157
@terenceli the https://github.com/intel/nemu/tree/experiment/automatic-removal branch has the all the code that we don't build removed and it supports only virt (x86 and arm)

[2018-10-24 16:14] mcastelino commented on #148
@rbradford as we care about Kata and NEMU another option would be to test with Kata's latest and greatest kernel at all times. For example  https://github.com/kata-containers/runtime/releases/download/1.3.1/kata-static-1.3.1-x86_64.tar.xz includes Kata's vmlinuz-4.14.67-16

/cc @jcvenegas

[2018-10-26 02:02] yangzhon opened #160 "The Q35 and PC machine type can not work in x86 binary with NEMU repo"
@sameo @rbradford

When i did build-x86_64 build, and i found q35 or pc machine type could not work with qemu-system-x86_64 binary, did you face this issue ?

[2018-10-26 08:50] rbradford commented on #160
Define "could not work" we run NATS with pc and q35 as part of our CI. What are you doing that causes it to fail?

[2018-10-26 09:43] yangzhon commented on #160
@rbradford

I used my previous q35 qemu command and found it failed in boot the VM
./qemu-system-x86_64 -machine pc -enable-kvm  -cpu host -m 1024,maxmem=20G,slots=2 -smp 6 -kernel /home/chen/project/bug-debug/linux-stable/arch/x86/boot/bzImage -append 'root=/dev/vda3 rw rootfstype=ext4 data=ordered rcupdate.rcu_expedited=1 pci=lastbus=0 pci=realloc=on tsc=reliable no_timer_check reboot=t noapicti

[2018-10-31 09:00] rbradford opened #164 "Optimise Jenkins build"
Things to consider / research:

- [ ] Increase parallelisation by bumping CPU count
- [ ] Move from nproc / 2 to something closer to nproc (may need to reduce VCPUs in tests - currently 2)
- [ ] Analyse I/O usage - try to build from tmpfs?
- [ ] Split more tests to a separate worker system
- [x] Made /tmp a tmpfs (by modifying template image.) - /tmp is used for the root disks for the NATs VMs

[2018-10-31 15:04] rbradford commented on #160
@yangzhon our CI system now tests PC + Q35 with direct kernel booting and it works fine. Can you describe how it fails to work?

[2018-11-01 06:41] yangzhon commented on #160
@rbradford ，

Thanks for comments, and i used the latest NEMU code and above command to try again, the pc and q35 can normally work in x86 build. thanks, i will close this issue.

[2018-11-01 06:41] #160 closed, assigned to nobody

[2018-11-03 01:28] sboeuf commented on #153
@mcastelino here is a first try to address this, but this is not working as I realized there were some constraints on doing this move:
[code]

So here I'll try to summarize. `AcpiNVDIMMState` has some fields holding the data and size related to the NFIT buffer and also a `Garray` called `dsm_mem`, which holds information regarding the nvdimm block. Those info are initialized when the `acpi_nvdimm_

[2018-11-12 03:17] gssxd opened #168 "few questions about the firmware boot time"
1, Based on my testing result, the UEFI OVMF boot seems a little bit slow(~delay 800ms) that compared with seaBIOS, which is the default BIOS of QEMU. Have you done any tunning for OVMF fast boot or any plan for future?
2, I noticed the qboot is very fast, but it just support to boot into linux kernel?   As for the linux distributions, do we have one fast boot FW to support?
3,seaBIOS does support

[2018-11-12 12:11] gssxd opened #169 "the size of nemu code"
In the README, it says that nemu will reduce the size of code. then I did the statistics of nemu code and found that the LOC of nemu seems larger than qemu code.  On developer perspective, I dont see any benifit, we still need to read large size of code. Any plan to do more work for reducing the size of nemu code？

[2018-11-12 13:45] rbradford commented on #169
Please see our branch where we automatically publish our reduced code: https://github.com/intel/nemu/tree/experiment/automatic-removal

[2018-11-12 13:45] #169 closed, assigned to nobody

[2018-11-12 13:46] rbradford opened #170 "Commit messages on experiment/automatic-removal don't have stats"
The code removal statistics are now missing from the commit messages that the CI publishes.

FYI: @sameo

[2018-11-12 14:09] rbradford opened #171 "Investigate Seabios"
At KVM forum I received some feedback that it might be possible to configure/modify Seabios to produce a faster boot than OVMF, particularly when doing direct kernel boot.

Here is an interesting and relevant (if a little old) thread:

https://mail.coreboot.org/pipermail/seabios/2015-July/009497.html

[2018-11-12 14:12] rbradford commented on #168
Investigating a port of Seabios is something we're certainly looking into.

[2018-11-12 15:49] sboeuf commented on #171
Yes interesting thread (ppl arguing is always funny :p). And here is the most interesting part for us: https://mail.coreboot.org/pipermail/seabios/2015-July/009508.html

[2018-11-13 19:06] rbradford opened #174 "nats: CPUHotplug with virt is failing ~90% of time"
This is a github issue to track fixing this as it will be temporarily disabled to get the tree running green again.

[2018-11-13 19:09] sboeuf commented on #174
@rbradford Could you post the logs from the failing runs regarding CPU hotplug? It'd be helpful to start debugging this issue.

[2018-11-13 19:30] rbradford commented on #174
It's hard to debug with NATS. But so far i'm seeing that when the command:

```sudo sh -c "echo 1 > /sys/devices/system/cpu/cpu2/online"``` is run it never exits and the SSH connection times out. Future SSH connections give connection refused.

Here was the command line:

[code]

It's important to note this test works fine with Q35 and pc.

[2018-11-13 19:48] sboeuf commented on #174
@rbradford the weird part in this is the fact that it's working sometimes. I'll try on my machine.

[2018-11-13 20:57] #170 closed, assigned to nobody

[2018-11-14 02:06] sboeuf commented on #174
@rbradford
I have tried several things today, but with no luck so far... Here is what I did:
- Because I saw the builds where failing only from today, and older builds were not failing (from 13 days ago), I thought there might be a relation with the fact that the new OVMF binary (v0.6) got released 13 days ago. Unfortunately, it didn't help since I still got some failing builds on PR #175
- Lookin

[2018-11-14 05:54] gssxd commented on #168
@rbradford So, your decision is to port Seabios instead of OVMF.   Did you have any chance to optimize OVMF startup time?

[2018-11-14 06:02] gssxd commented on #168
I have few years FW develop experience(including legace BIOS and UEFI), not an expert.... But I am pretty interested in the firmware part. Maybe I could contribute a little bit on the investigation or some other works.

[2018-11-14 06:39] gssxd commented on #101
@rbradford
In /mnt/boot/grub/grub.cfg, I comment out #123 line as below, the ubuntu can fast boot into login.
`#search --no-floppy --fs-uuid --set=root`

I found in /mnt/boot/efi/boot/grub/grub.cfg it has done the gpt partition search, I think no need to do search again in /mnt/boot/grub/grub.cfg(maybe it was trying to search a MBR disk)
`search.fs_uuid 70fd7baa-e7fd-4cb6-b80d-92cf423689f1 root hd

[2018-11-14 13:00] rbradford commented on #174
@sboeuf good debugging work. Some comments

The errors related to the ACPI test are related to the use of "shutdown -h now" and inappropriate timeouts there https://github.com/intel/nemu/commit/38a4f3d3536539a3bafd13d3408bdcfbe06011b3 .

If you look at https://nemu-jenkins-ci.westus2.cloudapp.azure.com/job/nemu/job/topic%252Fvirt-x86/ the 2 hourly builds I ran overnight show pretty consistent pass

[2018-11-19 09:33] sameo commented on #171
QEMU follow up:
https://lists.gnu.org/archive/html/qemu-devel/2018-11/msg03330.html

[2018-11-19 17:13] sboeuf commented on #171
Oh pretty cool to see that someone's looking into this.
@rbradford did you sync with Stefano about this?

[2018-11-23 11:43] mnaser opened #185 "libvirt support"
Hi there,

This is a pretty exciting projects and I'm trying to see if we can add coverage to get OpenStack running/tested on top of it.  However, OpenStack deploys VMs using `libvirt`.  Is there a recommended or documented way of using `nemu` with libvirt?  Can we just drop in the file?

Thanks,
Mohammed

[2018-11-23 11:48] mnaser opened #186 "Documentation"
Hi there,

I don't see any specific documentation on building the project and getting started with it.  Am I not finding it?  Do we need to work on tracking how to get it in there?

Thanks,
Mohammed

[2018-11-23 12:03] rbradford commented on #186
Our wiki has the documentation we have so far: https://github.com/intel/nemu/wiki/Running-NEMU

[2018-11-28 08:55] caoruidong opened #190 "automatic-removal branch compile failed"
I encounter some compile error
[code]
I'm on a CentOS machine. What's your compile environment? Or where can I get the binary directly?

[2018-11-28 09:16] caoruidong commented on #190
Seems gcc is too old. Update to 7.2.1 solved.

[2018-11-28 12:04] rbradford commented on #190
For the experiment/automatic-removal branch you must compile with `tools/build_x86_64_virt.sh` or `tools/build_aarch64.sh` as files not used by those builds will be deleted from the tree but not removed from the Makefiles.

[2018-11-28 12:19] caoruidong commented on #190
Yes, I use tools/build_x86_64_virt.sh, it failed.

[2018-11-28 12:32] rbradford commented on #190
Please could you create a gist with the full build output including the output from configure and i'll look into it.

[2018-11-29 02:15] caoruidong commented on #190
Here https://gist.github.com/caoruidong/b3e55814a08bbcaacb6a620f860bd369 Thanks! I think it is because of configure option.

[2018-11-30 17:36] rbradford commented on #190
I made some progress with #194 but I ran into some build problems which I think might be related to the very old gcc (4.8) that you get on Centos 7:

[code]

If you `-Wno-error` the warnings away you get link issues instead. I didn't think that inline functions in the header file need a prototype.

[2018-12-03 06:42] caoruidong commented on #190
I have installed the new version of GCC 7.2 and these warnings are gone. Compare to release, some configs about crypto is the reason. Thanks @rbradford https://github.com/intel/nemu/pull/194 fixes a part. I add --disable-gcrypt additionally and it compiles successfully.

[2018-12-03 06:42] #190 closed, assigned to nobody

[2018-12-13 08:58] fangying commented on #99
Hi, I am running CentOS with NEMU following the guide [https://github.com/intel/nemu/wiki/NEMU-with-CentOS](url).

I got CentOS installed under EFI and grub2-efi.cfg modified according to your guide. When I tried to launch CentOS with NEMU, I got some msg in /tmp/debug-log and could not launch CentOS with NEMU.

ASSERT /builddir/build/BUILD/edk2-vUDK2018/OvmfPkg/Library/AcpiTimerLib/BaseRomAcpiTim

[2018-12-13 11:15] rbradford commented on #99
@fangying Use this OVMF binary: https://github.com/intel/ovmf-virt/releases/download/0.6/OVMF.fd

[2018-12-14 06:44] fangying commented on #99
Thanks for your help，NEMU works fine with this OVMF.fd, I can launch my CentOS VM now.

[2018-12-14 11:57] s3rj1k opened #198 "Support for l2tpv3?"
Are you planning to support l2tpv3 pseudo-wire like qemu now does?

[2018-12-29 14:03] dakami opened #200 "Guest Variable CPU Clock Support under -cpu host"
Running Nemu on an Up Squared board, I note that the guest is unaware of the clock speed of the host.  The board scales from 1.1ghz to 2.3ghz, so it's not a trivial perf differential.  The host *might* still be scaling the processor anyway, but the guest (at least under Windows 10) doesn't know, and may not be scheduling appropriately.

Thanks for taking a crack at better hardware virtualization!

[2019-01-03 02:47] gssxd opened #201 "what's the difference between nemu and qemu-lite"
Both are Intel's light-weight VM solution, and based on qemu, what's the difference?

[2019-01-14 11:16] adofirst2018 opened #202 "How to support windows guest for nume？"
@sameo  We test geust windows7 on nemu, But we find nemu can not run windows7 guest,
I have some questions:
1、	do you have a plan to support windows guest for nemu?
2、	We want to support windows guest for nemu, can you give me some advice?
thanks

[2019-01-15 16:10] rbradford commented on #202
We have not validated any version of Windows against NEMU.

[2019-01-16 02:33] yangzhon commented on #201
@gssxd

Let me explain this difference to you
QEMU-LITE is skip-bios solution to speedup VM boottime and memory footprint, this solution will directly boot ELF guest kernel from qemu and skip seabios ---> decompressed kernel---> protected kernel.  Currently Qqemu-lite can support PC and Q35 machine type.

NEMU is only for modern cloud usage, and we created one new machine type, virt, which is only

[2019-01-17 06:34] gssxd commented on #201
@yangzhon
Thanks for your reply.
I noticed kata 1.4 release decleared NEMU as a new feature.
Does that mean NEMU will replace QEMU-lite as the default hypervior of kata?

[2019-01-17 06:38] yangzhon commented on #201
@gssxd

NEMU is also as one device model option for KATA container.

[2019-01-26 06:41] Wong-Jing opened #203 "NEMU boot latency time in seabios is longer than qemu"
**Qemu**
My test qemu version is 2.8.1, with rel-1.10.2 seaBIOS, qemu command line is:

**Test result:**
Loop 10 times

qemu_init_end:isa-debug-exit,iobase=0xf5,
real    0m0.538s
user    0m0.334s
sys     0m0.207s

fw_do_boot:isa-debug-exit,iobase=0xf6
real    0m0.860s
user    0m0.468s
sys     0m0.404s

**Nemu**
Nemu is the latest version, with latest seaBIOS from https://github.com/rbradford/seabi

[2019-01-26 11:23] c0d3z3r0 opened #204 "Branches"
Hi, can you add a short description of the branches to the wiki, please? It's a bit unclear to me :(
How is experimental/automatic-removal generated?
What is realeses/candidate? The release-branch?

[2019-01-30 09:50] gssxd opened #205 "direct kernel boot"
Does NEMU support ubuntu or Centos for direct kernel boot?

[2019-03-07 18:11] wkozaczuk commented on #205
Hi,

Couple of days ago we just got OSv unikernel officially supported on [Firecracker](https://groups.google.com/forum/#!topic/osv-dev/rO6m1yMJbZ0) and OSv boots as low as 10ms (5ms on Firecracker side + 5ms on OSv side). I think that Firecracker can boot so fast because of direct uncompressed Linux boot (64-bit vmlinux ELF). BTW linux itself boots at around 125ms on [firecracker](https://github.

[2019-03-08 03:02] sboeuf opened #206 "Rebase on QEMU 4.0"
QEMU 4.0 release is around the corner, and is planned to be released on April 16th. We should make sure that NEMU will be rebased on top of this new release.

/cc @rbradford @sameo @yangzhon

[2019-03-08 08:36] rbradford commented on #206
@sboeuf The next QEMU release is 4.0. Here is the detailed timeline: https://wiki.qemu.org/Planning/4.0

[2019-03-08 08:41] yangzhon commented on #206
We had better rebase on QEMU 4.0, in that time, Kconfig has been merged into QEMU 4.0 and @sameo will talk with Paolo in PTG about NEMU upstream.

[2019-03-08 08:44] yangzhon commented on #205
@gssxd,

In order to upstream NEMU, we dropped the skip-bios solution(direct elf kernel boot) from NEMU before, the current NEMU can only support bzImage, thanks!

[2019-03-08 08:49] yangzhon commented on #205
@wkozaczuk ,

Thanks for comments!
In fact, NEMU support direct boot before, but solution is a little hack, in order to upstream NEMU, we dropped the skip-bios solution.

If you have interesting in our skip-bios solution, you can ref below code
https://github.com/kata-containers/qemu/tree/qemu-lite-2.11.0

If you have better solution, welcome to introduce to us. thanks!

[2019-03-08 08:55] yangzhon commented on #203
@rbradford ,

Did you check this issue before ?  This issue is caused by Seabios ?  thanks!

[2019-03-08 08:57] yangzhon commented on #204
The release is topic/virt-x86 branch, and experimental/automatic-removal is generated by one script to remove some unused code with configs in virt platform.

[2019-03-08 15:42] sboeuf commented on #206
@rbradford oh yes thanks for fixing this :)

[2019-03-08 19:26] sboeuf opened #207 "Missing PCI routing table support"
Ok so today @rbradford and myself were investigating the reason why NEMU was not supporting the virtio-rng device properly. The driver probing fails because of this:
[code]
Following this lead, @rbradford found out that IRQs were not properly assigned to our virtio devices:
[code]
So by looking into our ACPI tables, we realized there was no PCI routing table (_PRT) exposed through ACPI, related to

[2019-03-11 09:57] stefano-garzarella commented on #205
Hi all,
QEMU 4.0 will be able to boot directly into the uncompressed Linux kernel binary with minimal firmware involvement using the PVH entry point (you should enable CONFIG_PVH=y in Linux config file).
The PVH ABI was initially developed for Xen guests, but with latest changes, QEMU will be able to use that same entry point for booting KVM guests.

To boot the PVH kernel image, you can use the s

[2019-03-11 12:54] yangzhon commented on #205
@stefano-garzarella

Thanks for sharing info!
We will rebase NEMU based on Qemu 4.0 and do comparable test with you did in below link
https://lists.gnu.org/archive/html/qemu-devel/2018-12/msg00200.html

[2019-03-11 12:56] yangzhon commented on #203
@Wong-Jing

Please check below test, thanks!
https://lists.gnu.org/archive/html/qemu-devel/2018-12/msg00200.html

[2019-03-11 13:34] stefano-garzarella commented on #205
@yangzhon great! Let me know if you need some help to test it.
Here some numbers that I took last month with PVH:
* QEMU (q35) + SeaBIOS + bzImage
 qemu_init_end: 36.072056
 linux_start_kernel: 114.669522 (+78.597466)
 linux_start_user: 191.748567 (+77.079045)

* QEMU (q35) + qboot + bzImage
 qemu_init_end: 36.443638
 linux_start_kernel: 106.73115 (+70.287512)
 linux_start_user: 184.575531 (+77.84

[2019-03-11 14:46] yangzhon commented on #207
@sboeuf ，

Yes, we didn't  add _PRT acpi before.

We will look at this issue when we rebase the NEMU based on QEMU4.0.

[2019-03-11 15:25] sboeuf commented on #207
@yangzhon shouldn't we start solving this issue right now? This is independent from the 4.0 patches, and it is a lack of support for `virt`.

@sameo wdyt?

[2019-03-11 16:17] rbradford commented on #207
@sboeuf I've made a bit of progress. I tracked the issue down to the virtio-rng device being the only device where `pci_msix_vec_count` generates an error because `pci->msi_cap` is zero.

All other devices successfully get through the MSI setup. Because it fails the MSI based setup it falls through to legacy interrupt handling which also fails and generates the error we see:

[code]

All other dev

[2019-03-11 16:45] sboeuf commented on #207
@rbradford thanks for the update. And IIUC, because we don't have the PRT support, it also fails in the last path, right?
I agree the issue should be solved at the root of the problem, which means the first path using MSI-X should work.

I'm wondering if we still want the PRT support to be implemented? What does it buy us if we are sure that MSI-X is supported everywhere?

[2019-03-11 16:59] rbradford commented on #207
@sboeuf  fix in #208 if you're interested.

[2019-03-11 17:14] sboeuf commented on #207
Thank you @rbradford, it LGTM :)

[2019-03-12 01:21] yangzhon commented on #205
@stefano-garzarella

Thanks a lot!

For below test, did you use configurable Seabios and specific guest kernel? This test result is really good for qemu to start bzImage with Seabios.

QEMU (q35) + SeaBIOS + bzImage
qemu_init_end: 36.072056
linux_start_kernel: 114.669522 (+78.597466)
linux_start_user: 191.748567 (+77.079045)

[2019-03-12 16:44] stefano-garzarella commented on #205
@yangzhon

I used the SeaBIOS mainline (https://github.com/coreboot/seabios.git) with a standard configuration (I sent a patch to save around 10ms and they fixed an issue with TPM that wasted around 700 ms).

For the Linux Kernel, I used the configuration from Kata (https://github.com/kata-containers/packaging/tree/master/kernel/configs) adding CONFIG_PVH=y.

Finally, I configured QEMU following y

[2019-03-13 02:48] yangzhon commented on #205
@stefano-garzarella

Thanks,  with all of those optimizations, the boot time in Qemu is almost same with FC.

[2019-03-14 02:56] wkozaczuk commented on #205
@yangzhon Does it mean there is a branch of nemu I can try it? Do I have to build specific version of seabios myself? What are the exact steps to reproduce what you mentioned just above that boot time is almost the same as with FC?

[2019-03-21 02:55] yangzhon commented on #205
@stefano-garzarella

I checked the latest seabios, qboot and OVMF bios code, it seems only qboot code has supported PVH now, right ?  thanks!

But from your test as below, this Seabios has enabled PVH feature.
QEMU (q35) + SeaBIOS + vmlinux(PVH)
qemu_init_end: 51.588200
linux_start_kernel: 62.124665 (+10.536465)
linux_start_user: 139.460582 (+77.335917)

[2019-03-21 08:14] stefano-garzarella commented on #205
Hi @yangzhon,
SeaBIOS doesn't need to be modified to support PVH, because we created an optionrom in QEMU (as for bzImage).
When you specify a PVH image with -kernel parameter, QEMU tell to SeaBIOS to boot the pvh.bin optionrom (if you specify the bzImage, the linuxboot.bin optionrom will be used). The optionrom will load the kernel using the fw-cfg interface and will jump to it.

[2019-03-28 06:12] yangzhon commented on #206
@sameo

I rebased 47 patches, which include 3 new patches, please help me review my new patches, thanks!
https://github.com/yangzhon/nemu/commits/topic/virt-x86-4.0-rc0

#nemu porting patch history
##. removed patch list
1)0007-target-arm-Move-all-VFP-helpers-into-their-own-file.patch
   old commit id: 49b422837af2eb27845fbf56acca432249d57f1c
   reason: there is one vfp_helper.c in target/arm of Q

[2019-03-29 19:24] egernst opened #211 "add virtio-fs support"
depends on #206

[2019-03-29 19:31] sboeuf commented on #211
Once NEMU will be rebased on top of 4.0-rc0, we need two things:
- Submit a PR to apply virtio-fs patches
- Submit a PR to build and publish `virtiofsd` from the CI

[2019-04-01 07:47] Tanlet opened #212 "The log is so big"
Please clean the log !The Nemu.log is 55G
![image](https://user-images.githubusercontent.com/2526802/55311299-1de64000-5495-11e9-88b8-2a91d080f478.png)

[2019-04-24 15:11] brandonros opened #219 "README sentences a not so good uh"
Needs a little English loving.

[2019-04-24 15:53] s3rj1k opened #221 "Guest agent support?"
Will there be a Guest agent support in new rebase for QEMU 4.0 build?
At least code part(protocol) to support QEMU Guest agent

[2019-04-24 20:07] egernst commented on #206
@sboeuf @yangzhon  - I believe there are updates here?

[2019-04-24 20:08] egernst commented on #211
any updates? @sboeuf @yangzhon - I believe there are updates here?

Who should be assigned this issue?

[2019-04-24 20:39] sboeuf commented on #211
@egernst I have assigned this issue to myself.
Yes there are updates, the PR #217 is currently being tested and we will generate both NEMU and virtiofsd binaries from this to be consumed by Kata.

You can move forward with modifying the Kata NEMU CI job in order to pull both binaries.

[2019-04-24 20:39] sboeuf commented on #211
/cc @chavafg

[2019-04-24 20:41] sboeuf commented on #206
Yes, NEMU has been rebased onto 4.0-rc4 and has been merged into the branch `topic/virt-x86-v4.0-rc4`. We cannot merge it to the official NEMU branch `topic/virt-x86` yet because QEMU 4.0 is not out yet.

[2019-04-24 23:06] sboeuf commented on #211
Early release binaries published here: https://github.com/intel/nemu/releases/tag/nemu-virtio-fs-1

But we still want to wait for the proper QEMU 4.0 release cut before to make everything final.

[2019-04-25 15:35] sboeuf commented on #206
We can close this issue now! The rebase onto QEMU 4.0 is complete and part of `topic/virt-x86` branch.

[2019-04-25 15:35] #206 closed, assigned to nobody

[2019-04-25 15:37] sboeuf commented on #211
`virtio-fs` patches are now part of NEMU 4.0, we can close this issue.

[2019-04-25 15:37] #211 closed, assigned to sboeuf

[2019-04-25 15:41] sboeuf opened #226 "NATS: Add virtio-fs testing"
Now that #225 has been merged, NEMU 4.0 is capable of `virtio-fs` (or `vhost-user-fs-pci` to be precise) support.
In order to prevent regression issues regarding this feature, we need to write some tests to validate that it always works.

[2019-04-26 02:07] wkozaczuk opened #228 "HVM direct boot"
As I understand NEMU has just been recently rebased against QEMU 4.0 and it should now support "HVM direct boot" (is PVH same thing?) - https://patchwork.kernel.org/patch/10741013/. Am I correct? I believe there are two relevant branches - virt-x86-v4.0-rc4 and virt-x86-4.0.0 - which one should I use?

In order to boot Linux using this method I need an uncompressed vmlinux 64-bit ELF image. Is thi

[2019-05-21 13:59] sboeuf opened #233 "Issue with hugepages and vhost-net"
When running NEMU with `/dev/hugepages` as the backing file for the guest RAM, and by also enabling `vhost` to the `virtio-net` device causes the network to fail. I mean to say we get no connectivity from the guest, which is basically due to the (virtio/vhost)-net device not operating as expected.

The command to reproduce this issue is:
[code]
We get interesting logs:
[code]

One thing to notice

[2019-05-21 14:27] rbradford commented on #233
Also present with a simpler memory configuration `-mem-path /dev/hugepages -m 512`

[2019-05-21 18:29] #233 closed, assigned to nobody

[2019-05-31 08:37] stefano-garzarella commented on #228
Hi @wkozaczuk,
I wrote some notes on how to use "HVM direct boot" (yes, we called also PVH) with QEMU 4.0 and I guess it's similar in NEMU:
https://gist.github.com/stefano-garzarella/7b7e17e75add20abd1c42fb496cc6504

Yes, you need the vmlinux 64-bit ELF image and you have to enable CONFIG_PVH in the Linux configuration.

It works with the standard (SeaBIOS) firmware or with qboot.

I put an exampl

[2019-06-26 20:57] wkozaczuk commented on #228
@stefano-garzarella Thanks for the info. I have eventually found some time to enhance OSv to support HVM boot. I have tested it with QEMU 4.0.50 (built from source). Here is a command line:
[code]

On another hand, I cannot get OSv to HVM-boot on Nemu. I tried this command line:
[code]
and I get this (nemu does not actually boot OSv):
[code]

The ./bioses directory has these:
[code]

The debug log

[2019-06-27 09:02] stefano-garzarella commented on #228
Great! :)

This line is strange because I would expect pvh.bin here.

I don't know. I never tried NEMU + PVH. Maybe @yangzhon tried it and he can help.

I agree. SeaBIOS + PVH optionrom is not so bad.

[2019-07-16 07:54] jiangyong123 opened #236 "why nofw option is removed in nemu?"
As the title says

[2019-07-19 23:11] Wenzel opened #237 "When was Intel Nemu project started ?"
Hi,

I'm maintaing a list of resources regarding virtualization on Github:
https://github.com/Wenzel/awesome-virtualization

And i wanted to add `nemu` to the project's list.
However, i can't figure when the project started. (the projects are listed in a timeline)

Looking at the logs with `git log --reverse`, the first commit dates back in 2003... ?
![Screenshot_20190720_011058](https://user-imag

[2021-04-13 17:23] abhideodhar-coder opened #241 "Current status of NEMU"
What is the current status of the NEMU hypervisor? How does NEMU compare with Kata container and Firecracker? How is the industry adoption of NEMU?

[2021-04-14 12:18] rbradford commented on #241
The NEMU project is closed. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 12:18] #241 closed, assigned to nobody

[2021-04-14 12:59] rbradford commented on #237
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 12:59] #237 closed, assigned to nobody

[2021-04-14 13:05] rbradford commented on #236
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:06] #236 closed, assigned to nobody

[2021-04-14 13:07] rbradford commented on #228
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #226
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #221
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #212
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #219
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #207
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #205
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #204
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #203
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #202
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #201
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #200
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #198
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #185
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #186
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #174
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #171
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #168
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #164
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #157
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #153
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #148
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #137
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #107
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #114
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #101
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #99
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #87
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #71
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #70
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #64
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #51
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #53
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #46
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #44
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #40
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #17
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #16
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:07] rbradford commented on #11
This project is no longer active and being archived. Cloud Hypervisor is the successor: https://github.com/cloud-hypervisor/cloud-hypervisor

[2021-04-14 13:08] #228 closed, assigned to nobody

[2021-04-14 13:08] #226 closed, assigned to nobody

[2021-04-14 13:08] #221 closed, assigned to nobody

[2021-04-14 13:08] #219 closed, assigned to nobody

[2021-04-14 13:08] #207 closed, assigned to nobody

[2021-04-14 13:08] #212 closed, assigned to nobody

[2021-04-14 13:08] #205 closed, assigned to nobody

[2021-04-14 13:08] #204 closed, assigned to nobody

[2021-04-14 13:08] #203 closed, assigned to nobody

[2021-04-14 13:08] #202 closed, assigned to nobody

[2021-04-14 13:08] #201 closed, assigned to nobody

[2021-04-14 13:08] #198 closed, assigned to nobody

[2021-04-14 13:08] #200 closed, assigned to nobody

[2021-04-14 13:08] #186 closed, assigned to nobody

[2021-04-14 13:08] #185 closed, assigned to nobody

[2021-04-14 13:08] #174 closed, assigned to nobody

[2021-04-14 13:08] #171 closed, assigned to nobody

[2021-04-14 13:08] #164 closed, assigned to nobody

[2021-04-14 13:08] #168 closed, assigned to nobody

[2021-04-14 13:08] #157 closed, assigned to nobody

[2021-04-14 13:08] #153 closed, assigned to nobody

[2021-04-14 13:08] #148 closed, assigned to mcastelino

[2021-04-14 13:08] #137 closed, assigned to rbradford, sameo, sboeuf, yangzhon, liujing2

[2021-04-14 13:08] #114 closed, assigned to nobody

[2021-04-14 13:08] #107 closed, assigned to nobody

[2021-04-14 13:08] #99 closed, assigned to nobody

[2021-04-14 13:08] #101 closed, assigned to nobody

[2021-04-14 13:08] #87 closed, assigned to sameo

[2021-04-14 13:08] #71 closed, assigned to nobody

[2021-04-14 13:08] #70 closed, assigned to nobody

[2021-04-14 13:08] #64 closed, assigned to rbradford

[2021-04-14 13:08] #51 closed, assigned to sameo, yangzhon

[2021-04-14 13:08] #53 closed, assigned to sboeuf, liujing2

[2021-04-14 13:08] #46 closed, assigned to nobody

[2021-04-14 13:08] #44 closed, assigned to nobody

[2021-04-14 13:08] #40 closed, assigned to nobody

[2021-04-14 13:08] #17 closed, assigned to nobody

[2021-04-14 13:08] #16 closed, assigned to nobody

[2021-04-14 13:08] #11 closed, assigned to rbradford, sameo, mcastelino